* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

#ham {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 20px;
}

h1 {
    margin: 30px;
}

button {
    background-color: cyan;
}

button:focus~p {
    display: none;
}



img {
    width: 230px;
    display: inline;
    opacity: 0.6;
}



#ham:active~.hamburger {
    background-color: aliceblue;
    display: block;
    right: 10px;
    top: 30px;
    position: absolute;
}

.hamburger {
    display: none;
    right: 10px;
    top: 30px;
    position: absolute;
}

#im1:hover {
    opacity: 1;
}

#im2:hover {
    opacity: 1;
}

#im3:hover {
    opacity: 1;
}